{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <title>Philipp | sportovní trávníky</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/favicon.png"/>
  <link href="{% static "css/prettyPhoto.css" %}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" id="camera-css"  href="{% static "css/camera.css" %}" type="text/css" media="all">
  <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
  <link href="{% static "css/theme.css" %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static "css/skins/tango/skin.css" %}" />
  <link href="{% static "css/bootstrap-responsive.css" %}" rel="stylesheet">
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
	<!--header-->
    {% block header %}
    <div class="header">
    {% include 'inc/site_header.html' %}
    </div>
    {% endblock header %}
    <!--//header-->

    <!--page_container-->
    {% block content %}
    {% endblock content %}
    <!--//page_container-->

    <!--footer-->
    {% block footer %}
    <div id="footer">
    {% include 'inc/site_footer.html' %}
    </div>
    {% endblock footer %}
    <!--//footer-->

    {% block _js %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "js/jquery.easing.1.3.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.mobile.customized.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/camera.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/superfish.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.prettyPhoto.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.jcarousel.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.tweet.js" %}"></script>
    <script type="text/javascript" src="{% static "js/myscript.js" %}"></script>
    <script type="text/javascript">
      $(document).ready(function(){
                //Slider
                $('#camera_wrap_1').camera();

                //Featured works & latest posts
                $('#mycarousel, #mycarousel2, #newscarousel').jcarousel();
            });
    </script>
    {% endblock _js %}
</body>
</html>

