{% extends "base.html" %}
{% load writeit_base %}
{% load i18n %}

{% block content %}
<div class="page_container">
{% if listings|length == 0 %}
    <h1>{% blocktrans %}No content{% endblocktrans %}</h1>
{% elif listings|length == 1 %}
    {% for i in listings %}
    {% box article for i.publishable.target %}{% endbox %}
    {% endfor %}
{% else %}
    {% for i in listings %}
    {% box article-listing for i.publishable.target %}{% endbox %}
    {% endfor %}
{% endif %}
</div>
{% endblock content %}
