{% extends "base.html" %}
{% load staticfiles %}
{% load positions %}
{% load i18n %}

{% block content %}
<!--page_container-->
<div class="page_container">
  <!--slider-->
    {% listing 1 for 'slider' of ella_galleries.Gallery as slider %}
    {% for s in slider %}
    {% box slider-box for s.publishable.target %}{% endbox %}
    {% endfor %}
  <!--//slider-->

  <!--planning-->
  <div class="wrap planning">
    <div class="container">
      <div class="row">
        {% listing 4 for 'planning' as planning %}
        {% for p in planning %}
        {% box planning-box for p.publishable.target %}{% endbox %}
        {% endfor %}
      </div>
    </div>
  </div>
  <!--//planning-->

  <!--Welcome-->
  {% ifposition welcome for category %}
  {% position welcome for category %}{% endposition %}
  {% endifposition %}
  <!--//Welcome-->

  <!--featured works-->
  <div class="wrap block carousel_block">
    <div class="container">
      <h2 class="upper">{% trans 'Work samples' %}</h2>
      <div class="row">
        <div class="span12">
          <ul id="mycarousel" class="jcarousel-skin-tango">
          {% listing 1 for 'ukazky-praci' of ella_galleries.Gallery as ukazky_praci %}
          {% for s in ukazky_praci %}
          {% box ukazky-praci-box for s.publishable.target %}{% endbox %}
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--//featured works-->

  <!--Latest news-->
  <div class="wrap block">
    <div class="container">
      <div class="row news_block">
        <div class="span12">
          {% ifposition onas for category %}
          {% position onas for category %}{% endposition %}
          {% endifposition %}
        </div>
      </div>
    </div>
  </div>
  <!--Latest news-->

  <!--latest posts-->
  <div class="wrap block carousel_block">
    <div class="container">
      <h2 class="upper">{% trans 'Lastest work' %}</h2>
      <div class="row">
        <div class="span12">
          <ul id="mycarousel2" class="jcarousel-skin-tango">
          {% listing 10 for 'posledni-akce' as posledni_akce %}
          {% for p in posledni_akce %}
          {% box posledni-akce-box for p.publishable.target %}{% endbox %}
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--//latest posts-->
</div>
{% endblock content %}
