    <ul>
        <li class='home'><a href="{% url 'root_homepage' %}">{{ root.title }}</a></li>
        {% for category in subs %}
            <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
        {% endfor %}
    </ul>