<!-- in position called "sitemenu" -->
{% load writeit_base %}

<nav id="main_menu">
  <div class="menu_wrap">
    <ul class="nav sf-menu">
        <li class='home{% if root.tree_path in category.tree_path %} current{% endif %}'><a href="{% url 'root_homepage' %}" title="Homepage">{{ root.title }}</a></li>
        {% for category in subs %}
            {% render_submenu category %}
        {% endfor %}
    </ul>
  </div>
</nav>
