{% load staticfiles %}
{% load writeit_base %}
{% load twitter_tag %}
{% load i18n %}
<div class="wrap">
  <div class="container">
    <div class="row">
      <div class="span3">
        <h2 class="title">{% trans 'Last tweets' %}</h2>
        <div class="tweet_block">
 <a class="twitter-timeline"  href="https://twitter.com/TravnikyCz" data-widget-id="643879651509698560">Tweety od uživatele @TravnikyCz</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>
      <div class="span3">
        <h2 class="title">{% trans 'Text us!' %}</h2>
        <form action="{% url 'send_message' %}" method="post">
          {% csrf_token %}
          {% for field in contact_form %}
          {{ field }}
          {% endfor %}
          <div class="clear"></div>
          <input type="reset" class="btn dark_btn" value="{% trans 'Clear form' %}" />
          <input type="submit" class="btn send_btn" value="{% trans 'Send!' %}" />
          <div class="clear"></div>
        </form>
      </div>
      <div class="span3">
        <h2 class="title">{% trans 'Said about us' %}</h2>
        <ul>
        {% listing 2 for 'rekli-o-nas' as rekli_o_nas %}
        {% for a in rekli_o_nas %}
        {% box rekli-o-nas-box for a.publishable.target %}{% endbox %}
        {% endfor %}
        </ul>
      </div>
      <div class="span3">
        <h2 class="title">{% trans 'flick photogallery' %}</h2>
        <div class="flickrs">
          <div class="FlickrImages">
            <ul></ul>
            <div class="clear"></div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
      <div class="partners">
          <ul>
              <li><a href="http://www.fieldturf.eu/en" class="ft">FieldTurf</a></li>
              <li><a href="http://campeyturfcare.com/" class="campey">Campey</a></li>
              <li><a href="http://www.theesto.com/" class="esto">Esto</a></li>
              <li><a href="http://premierpitches.com/" class="pt">PT</a></li>
              <li><a href="http://iog.cz/" class="iog">IOG</a></li>
              <li><a href="http://www.barenbrug.cz/" class="bb">BB</a></li>
              <li><a href="http://www.asociaceut3g.cz/" class="azfh">IOG</a></li>
              <li><a href="http://www.adamza.cz/" class="adam">Adam</a></li>
          </ul>
      </div>
    </div>
  </div>
</div>

<div class="footer_bottom">
<div class="wrap">
  <div class="container">
    <div class="row">
      <div class="span5">
        <div class="foot_logo">
          <a href="{% url 'root_homepage' %}">
            <img src="{% static 'img/foot_logo.png' %}" alt="" />
          </a>
        </div>
        <div class="copyright">
          <div>{% blocktrans %}&copy; 2015 Philipp sportovní trávníky a.s. All right reserved.{% endblocktrans %}</div>
          {# <div><a href="http://www.mtproduction.cz/">{% blocktrans %}Created and maintained by the MT Production ltd. company.{% endblocktrans %}</a></div> #}
        </div>
      </div>
      <div class="span7">
        <div class="foot_right_block">
          <div class="fright">
            <form action="{% url 'haystack_search' %}" method="get">
              <input class="inp_search" name="q" type="text" value="Search the Site" onfocus="if (this.value == 'Search the Site') this.value = '';" onblur="if (this.value == '') this.value = 'Search the Site';" />
            </form>
          </div>
          <div class="follow_us">
            <ul>
              <li>
                <a rel="tooltip" href="https://www.facebook.com/sportovnitravniky" title="Facebook" class="facebook">Facebook</a>
              </li>
              <li>
                <a rel="tooltip" href="https://twitter.com/TravnikyCz" title="Twitter" class="twitter">Twitter</a>
              </li>
              <li>
                <a rel="tooltip" href="https://plus.google.com/u/0/113876114795886921931/about" title="Google+" class="tumbrl">Google+</a>
              </li>
              <li>
                <a rel="tooltip" href="https://www.linkedin.com/company/philipp-sportovn%C3%AD-tr%C3%A1vn%C3%ADky-a-s-?trk=biz-companies-cym" title="Linkedin" class="vimeo">Linkedin</a>
              </li>
              <li>
                <a rel="tooltip" href="https://www.flickr.com/photos/136187950@N02" title="Flickr" class="delicious">Flickr</a>
              </li>
            </ul>
          </div>
          <div class="clear"></div>

          <div class="clear"></div>
          <div class="foot_menu">{% render_flatmenu %}</div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
