{% load staticfiles %}
{% load writeit_base %}
<div class="wrap">
  <div class="navbar navbar_ clearfix">
    <div class="container">
      <div class="row">
        <div class="span4">
          <div class="logo">
            <a href="{% url 'root_homepage' %}">
              <img src="{% static "img/logo.png" %}" alt="" />
            </a>
          </div>
        </div>
        <div class="span8">
          <div class="follow_us follow_us_{{LANGUAGE_CODE}}">
            <ul>
              <li>
                <a href="https://www.facebook.com/sportovnitravniky" class="facebook">Facebook</a>
              </li>
              <li>
                <a href="https://plus.google.com/u/0/113876114795886921931/about" class="vimeo">Vimeo</a>
              </li>
              <li>
                <a href="https://www.linkedin.com/company/philipp-sportovn%C3%AD-tr%C3%A1vn%C3%ADky-a-s-?trk=biz-companies-cym" class="tumbrl">Tumbrl</a>
              </li>
              <li>
                <a href="https://twitter.com/TravnikyCz" class="twitter">Twitter</a>
              </li>
              <li>
                <a href="https://www.flickr.com/photos/136187950@N02" class="delicious">Delicious</a>
              </li>
              <li>
                <a href="{{ settings.OTHER_SITE }}" class="flag">Eng</a>
              </li>
            </ul>
          </div>
          <div class="clear"></div>
          {% render_menu %}
        </div>
      </div>
    </div>
  </div>
</div>
