<!-- rendering submenu -->
{% load writeit_base %}
{% if subs and not flat %}
    <li class="sub-menu{% if root.tree_path in category.tree_path %} current{% endif %}"><a href="{{ root.get_absolute_url }}">{{ root.title }}</a>
        <ul>
        {% for s in subs %}
        {% render_submenu s %}
        {% endfor %}
        </ul>
    </li>
{% else %}
    <li><a {% if root.tree_path in category.tree_path %}class="current"{% endif %} href="{{ root.get_absolute_url }}">{{ root.title }}</a></li>
{% endif %}
