  <div class="wrap block">
    <div class="container">
      <div class="row">
        <div class="span12">
          <a href="{{ object.get_absolute_url }}">
            <h2 class="title">{{ object.title }}</h2>
          </a>
          <div>
            {{ object.description|safe}}
          </div>
        </div>
      </div>
    </div>
  </div>
