{% load photos %}
  <div class="wrap block">
    <div class="container">
      <div class="row">
        <div class="span12">
          <a href="{{ object.get_absolute_url }}">
            <h2 class="title">{{ object.title }}</h2>
          </a>
          {% if object.photo %}
          <ul id="mycarousel" class="jcarousel-skin-tango">
            <li>
              <div class="hover_img">
                <a href="{{ object.photo.image.url }}" rel="prettyPhoto[portfolio1]">
                  {% image object.photo in "270x203" as o_image %}
                  <img src="{{ o_image.url }}" alt="" />
                  <span class="portfolio_zoom1"></span>
                </a>
              </div>
            </li>
          </ul>
          {% endif %}
          <h6>
            {{ object.description|safe }}
          </h6>
          <div>
            {{ object.content|safe }}
          </div>
        </div>
      </div>
    </div>
  </div>
