{% load i18n %}
            <li>
              <div class="news_date">
                {{ object.publish_from|date:"j b"}}
                <span>{{ object.publish_from|date:"Y"}}</span>
              </div>
              <div class="news_t">
                <a href="#">{{object.title}}</a>
              </div>
              <div class="news">
                {% trans 'Posted by' %}
                <a href="">{{object.authors.all|join:", "}}</a>
              </div>
              <div class="news_info">
                {{ object.description|safe}}
                <a href="{{ object.get_absolute_url }}">{% trans 'Read more...' %}</a>
              </div>
              <div class="clear"></div>
            </li>
