        <div class="span3">
          <a href="{{ object.get_absolute_url }}">
            <span class="img_icon icon{{forloop.counter}}"></span>
            <span class="link_title">{{ object.title }}</span>
            {{object.description|safe}}
          </a>
        </div>
