{% load i18n photos %}
            <li>
              <div class="post_carousel">
                {% if object.photo %}
                {% image object.photo in "270x203" as o_image %}
                <img src="{{ o_image.url }}" alt="" />
                {% endif %}
                <div class="title_t">
                  <a href="{{object.get_absolute_url}}">{{object.title}}</a>
                </div>
                <div class="post_meta">
                  {% trans 'Posted by' %}
                  <a href="">{{object.authors.all|join:", "}}</a>
                  /  {{object.publish_from|date:"j. E"}}
                </div>
                {{object.description|safe}}
                <a href="{{object.get_absolute_url}}" class="arrow_link">{% trans 'Read more...' %}</a>
              </div>
            </li>
