{% load staticfiles photos %}
    <div id="main_slider" class="container">
      <div class="camera_wrap" id="camera_wrap_1">
          {% for i,v in object.items.iteritems %}
            {% image v.photo in "slider_image" as slider_image %}
            <div data-src="{{ slider_image.url }}"></div>
          {% endfor %}
      </div>
      <div class="clear"></div>
    </div>
