{% load photos %}
          {% for i,v in object.items.iteritems %}
            <li>
              <div class="hover_img">
				          <a href="{{ v.photo.image.url }}" rel="prettyPhoto[portfolio1]" title="{{ v.title }}">
                  {% image v.photo in "270x203" as slider_image %}
                  <img src="{{ slider_image.url }}" alt="" />
                  <span class="portfolio_zoom1"></span>
                </a>
              </div>
            </li>
          {% endfor %}
