  <div class="wrap block">
    <div class="container">
      <div class="row">
        <div class="span12">
          <a href="{{ object.get_absolute_url }}">
            <h2 class="title">{{ object.title }}</h2>
          </a>
          <ul id="mycarousel" class="jcarousel-skin-tango">
          {% for i,v in object.items.iteritems %}
            <li>
              <div class="hover_img">
                <a href="{{ v.photo.image.url }}" rel="prettyPhoto[portfolio1]">
                {% image v.photo in "270x203" as slider_image %}
                  <img src="{{ slider_image.url }}" alt="" />
                  <span class="portfolio_zoom1"></span>
                </a>
              </div>
            </li>
          {% endfor %}
          </ul>
          <h6>
            {{ object.description|safe }}
          </h6>
          <div>
            {{ object.content|safe }}
          </div>
        </div>
      </div>
    </div>
  </div>
